.highlight{ 
  background:#00AF00; 
  padding:1px; 
  border:#00CC00 dotted 1px; 
}

ul.lst-kix_nl1fn8u0qyav-5 {
  list-style-type: none
}

.lst-kix_l5b119pttlwz-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_nl1fn8u0qyav-4 {
  list-style-type: none
}

ul.lst-kix_nl1fn8u0qyav-7 {
  list-style-type: none
}

ul.lst-kix_nl1fn8u0qyav-6 {
  list-style-type: none
}

.lst-kix_l5b119pttlwz-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_nl1fn8u0qyav-8 {
  list-style-type: none
}

.lst-kix_hftuyph3qfio-2>li {
  counter-increment: lst-ctn-kix_hftuyph3qfio-2
}

.lst-kix_l5b119pttlwz-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_dtte1pstk98f-5 {
  list-style-type: none
}

ul.lst-kix_dtte1pstk98f-4 {
  list-style-type: none
}

ul.lst-kix_dtte1pstk98f-7 {
  list-style-type: none
}

ul.lst-kix_dtte1pstk98f-6 {
  list-style-type: none
}

ol.lst-kix_hw94s7ukv0yc-4.start {
  counter-reset: lst-ctn-kix_hw94s7ukv0yc-4 0
}

.lst-kix_l5b119pttlwz-3>li:before {
  content: "\0025cf  "
}

.lst-kix_l5b119pttlwz-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_nl1fn8u0qyav-1 {
  list-style-type: none
}

ul.lst-kix_nl1fn8u0qyav-0 {
  list-style-type: none
}

ul.lst-kix_dtte1pstk98f-8 {
  list-style-type: none
}

ul.lst-kix_nl1fn8u0qyav-3 {
  list-style-type: none
}

ul.lst-kix_nl1fn8u0qyav-2 {
  list-style-type: none
}

.lst-kix_l5b119pttlwz-4>li:before {
  content: "\0025cb  "
}

.lst-kix_mmm2f39t0rso-1>li {
  counter-increment: lst-ctn-kix_mmm2f39t0rso-1
}

.lst-kix_hw94s7ukv0yc-8>li:before {
  content: "" counter(lst-ctn-kix_hw94s7ukv0yc-8, lower-roman) ". "
}

.lst-kix_nrskjzmyn0c3-3>li {
  counter-increment: lst-ctn-kix_nrskjzmyn0c3-3
}

.lst-kix_l5b119pttlwz-7>li:before {
  content: "\0025cb  "
}

.lst-kix_l5b119pttlwz-6>li:before {
  content: "\0025cf  "
}

ol.lst-kix_hftuyph3qfio-2.start {
  counter-reset: lst-ctn-kix_hftuyph3qfio-2 0
}

ol.lst-kix_j1k0lljhcsrq-3.start {
  counter-reset: lst-ctn-kix_j1k0lljhcsrq-3 0
}

ol.lst-kix_nrskjzmyn0c3-3.start {
  counter-reset: lst-ctn-kix_nrskjzmyn0c3-3 0
}

.lst-kix_l5b119pttlwz-8>li:before {
  content: "\0025a0  "
}

.lst-kix_hotb2agacyza-3>li:before {
  content: "" counter(lst-ctn-kix_hotb2agacyza-3, decimal) ". "
}

.lst-kix_hotb2agacyza-1>li:before {
  content: "" counter(lst-ctn-kix_hotb2agacyza-1, lower-latin) ". "
}

.lst-kix_hotb2agacyza-5>li:before {
  content: "" counter(lst-ctn-kix_hotb2agacyza-5, lower-roman) ". "
}

.lst-kix_hotb2agacyza-2>li:before {
  content: "" counter(lst-ctn-kix_hotb2agacyza-2, lower-roman) ". "
}

.lst-kix_hotb2agacyza-6>li:before {
  content: "" counter(lst-ctn-kix_hotb2agacyza-6, decimal) ". "
}

.lst-kix_j1k0lljhcsrq-7>li {
  counter-increment: lst-ctn-kix_j1k0lljhcsrq-7
}

.lst-kix_hotb2agacyza-7>li:before {
  content: "" counter(lst-ctn-kix_hotb2agacyza-7, lower-latin) ". "
}

.lst-kix_hotb2agacyza-0>li:before {
  content: "" counter(lst-ctn-kix_hotb2agacyza-0, decimal) ". "
}

.lst-kix_hotb2agacyza-8>li:before {
  content: "" counter(lst-ctn-kix_hotb2agacyza-8, lower-roman) ". "
}

.lst-kix_hotb2agacyza-4>li:before {
  content: "" counter(lst-ctn-kix_hotb2agacyza-4, lower-latin) ". "
}

.lst-kix_mmm2f39t0rso-5>li:before {
  content: "" counter(lst-ctn-kix_mmm2f39t0rso-5, lower-roman) ". "
}

.lst-kix_mmm2f39t0rso-6>li:before {
  content: "" counter(lst-ctn-kix_mmm2f39t0rso-6, decimal) ". "
}

.lst-kix_hw94s7ukv0yc-3>li {
  counter-increment: lst-ctn-kix_hw94s7ukv0yc-3
}

ol.lst-kix_hotb2agacyza-4.start {
  counter-reset: lst-ctn-kix_hotb2agacyza-4 0
}

.lst-kix_mmm2f39t0rso-7>li:before {
  content: "" counter(lst-ctn-kix_mmm2f39t0rso-7, lower-latin) ". "
}

.lst-kix_mmm2f39t0rso-8>li:before {
  content: "" counter(lst-ctn-kix_mmm2f39t0rso-8, lower-roman) ". "
}

.lst-kix_mmm2f39t0rso-8>li {
  counter-increment: lst-ctn-kix_mmm2f39t0rso-8
}

.lst-kix_mmm2f39t0rso-5>li {
  counter-increment: lst-ctn-kix_mmm2f39t0rso-5
}

ul.lst-kix_ru5rxy2yswmp-6 {
  list-style-type: none
}

ul.lst-kix_ru5rxy2yswmp-7 {
  list-style-type: none
}

ul.lst-kix_ru5rxy2yswmp-8 {
  list-style-type: none
}

.lst-kix_i4n2rr5566it-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_ru5rxy2yswmp-2 {
  list-style-type: none
}

ul.lst-kix_ru5rxy2yswmp-3 {
  list-style-type: none
}

ul.lst-kix_ru5rxy2yswmp-4 {
  list-style-type: none
}

ul.lst-kix_ru5rxy2yswmp-5 {
  list-style-type: none
}

.lst-kix_i4n2rr5566it-4>li:before {
  content: "\0025cb  "
}

ol.lst-kix_mmm2f39t0rso-5.start {
  counter-reset: lst-ctn-kix_mmm2f39t0rso-5 0
}

.lst-kix_hw94s7ukv0yc-0>li {
  counter-increment: lst-ctn-kix_hw94s7ukv0yc-0
}

ul.lst-kix_ru5rxy2yswmp-0 {
  list-style-type: none
}

.lst-kix_i4n2rr5566it-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_ru5rxy2yswmp-1 {
  list-style-type: none
}

.lst-kix_mmm2f39t0rso-4>li:before {
  content: "" counter(lst-ctn-kix_mmm2f39t0rso-4, lower-latin) ". "
}

.lst-kix_mmm2f39t0rso-2>li:before {
  content: "" counter(lst-ctn-kix_mmm2f39t0rso-2, lower-roman) ". "
}

.lst-kix_hlx6oix3qbia-6>li:before {
  content: "\0025cf  "
}

.lst-kix_hlx6oix3qbia-8>li:before {
  content: "\0025a0  "
}

ol.lst-kix_hftuyph3qfio-2 {
  list-style-type: none
}

ol.lst-kix_hftuyph3qfio-1 {
  list-style-type: none
}

ol.lst-kix_hftuyph3qfio-0 {
  list-style-type: none
}

.lst-kix_ru5rxy2yswmp-4>li:before {
  content: "\0025cb  "
}

ol.lst-kix_hftuyph3qfio-6 {
  list-style-type: none
}

ol.lst-kix_hftuyph3qfio-5 {
  list-style-type: none
}

ol.lst-kix_hftuyph3qfio-4 {
  list-style-type: none
}

ol.lst-kix_hftuyph3qfio-3 {
  list-style-type: none
}

ul.lst-kix_58gejjbvxb0z-8 {
  list-style-type: none
}

.lst-kix_hotb2agacyza-1>li {
  counter-increment: lst-ctn-kix_hotb2agacyza-1
}

.lst-kix_mmm2f39t0rso-0>li:before {
  content: "" counter(lst-ctn-kix_mmm2f39t0rso-0, decimal) ". "
}

ol.lst-kix_hftuyph3qfio-8 {
  list-style-type: none
}

.lst-kix_ru5rxy2yswmp-6>li:before {
  content: "\0025cf  "
}

ol.lst-kix_hftuyph3qfio-7 {
  list-style-type: none
}

ul.lst-kix_58gejjbvxb0z-4 {
  list-style-type: none
}

ul.lst-kix_58gejjbvxb0z-5 {
  list-style-type: none
}

.lst-kix_hlx6oix3qbia-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_58gejjbvxb0z-6 {
  list-style-type: none
}

.lst-kix_i4n2rr5566it-0>li:before {
  content: "\0025cf  "
}

.lst-kix_i4n2rr5566it-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_58gejjbvxb0z-7 {
  list-style-type: none
}

ul.lst-kix_58gejjbvxb0z-0 {
  list-style-type: none
}

ul.lst-kix_58gejjbvxb0z-1 {
  list-style-type: none
}

ul.lst-kix_58gejjbvxb0z-2 {
  list-style-type: none
}

.lst-kix_ru5rxy2yswmp-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_58gejjbvxb0z-3 {
  list-style-type: none
}

.lst-kix_hlx6oix3qbia-2>li:before {
  content: "\0025a0  "
}

.lst-kix_hlx6oix3qbia-4>li:before {
  content: "\0025cb  "
}

ol.lst-kix_mmm2f39t0rso-7.start {
  counter-reset: lst-ctn-kix_mmm2f39t0rso-7 0
}

.lst-kix_nrskjzmyn0c3-5>li:before {
  content: "" counter(lst-ctn-kix_nrskjzmyn0c3-5, lower-roman) ". "
}

.lst-kix_jzbccnmqxr9g-0>li:before {
  content: "\0025cf  "
}

.lst-kix_x92hgfxg4xiz-3>li:before {
  content: "\0025cf  "
}

.lst-kix_x92hgfxg4xiz-7>li:before {
  content: "\0025cb  "
}

.lst-kix_nrskjzmyn0c3-3>li:before {
  content: "" counter(lst-ctn-kix_nrskjzmyn0c3-3, decimal) ". "
}

.lst-kix_2g4cm1eyvh08-7>li:before {
  content: "\0025cb  "
}

.lst-kix_x92hgfxg4xiz-1>li:before {
  content: "\0025cb  "
}

.lst-kix_nrskjzmyn0c3-1>li:before {
  content: "" counter(lst-ctn-kix_nrskjzmyn0c3-1, lower-latin) ". "
}

.lst-kix_jzbccnmqxr9g-8>li:before {
  content: "\0025a0  "
}

ol.lst-kix_hotb2agacyza-2.start {
  counter-reset: lst-ctn-kix_hotb2agacyza-2 0
}

.lst-kix_x92hgfxg4xiz-5>li:before {
  content: "\0025a0  "
}

.lst-kix_ru5rxy2yswmp-2>li:before {
  content: "\0025a0  "
}

.lst-kix_hw94s7ukv0yc-7>li {
  counter-increment: lst-ctn-kix_hw94s7ukv0yc-7
}

.lst-kix_hw94s7ukv0yc-7>li:before {
  content: "" counter(lst-ctn-kix_hw94s7ukv0yc-7, lower-latin) ". "
}

.lst-kix_j1k0lljhcsrq-6>li {
  counter-increment: lst-ctn-kix_j1k0lljhcsrq-6
}

.lst-kix_hftuyph3qfio-6>li {
  counter-increment: lst-ctn-kix_hftuyph3qfio-6
}

.lst-kix_ru5rxy2yswmp-0>li:before {
  content: "\0025cf  "
}

.lst-kix_hw94s7ukv0yc-3>li:before {
  content: "" counter(lst-ctn-kix_hw94s7ukv0yc-3, decimal) ". "
}

.lst-kix_hw94s7ukv0yc-5>li:before {
  content: "" counter(lst-ctn-kix_hw94s7ukv0yc-5, lower-roman) ". "
}

ol.lst-kix_j1k0lljhcsrq-1.start {
  counter-reset: lst-ctn-kix_j1k0lljhcsrq-1 0
}

ol.lst-kix_hftuyph3qfio-0.start {
  counter-reset: lst-ctn-kix_hftuyph3qfio-0 0
}

.lst-kix_2g4cm1eyvh08-3>li:before {
  content: "\0025cf  "
}

.lst-kix_jzbccnmqxr9g-6>li:before {
  content: "\0025cf  "
}

.lst-kix_hw94s7ukv0yc-1>li:before {
  content: "" counter(lst-ctn-kix_hw94s7ukv0yc-1, lower-latin) ". "
}

ul.lst-kix_dtte1pstk98f-1 {
  list-style-type: none
}

.lst-kix_2g4cm1eyvh08-1>li:before {
  content: "\0025cb  "
}

.lst-kix_2g4cm1eyvh08-5>li:before {
  content: "\0025a0  "
}

.lst-kix_jzbccnmqxr9g-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_dtte1pstk98f-0 {
  list-style-type: none
}

.lst-kix_hotb2agacyza-8>li {
  counter-increment: lst-ctn-kix_hotb2agacyza-8
}

ul.lst-kix_dtte1pstk98f-3 {
  list-style-type: none
}

ul.lst-kix_dtte1pstk98f-2 {
  list-style-type: none
}

.lst-kix_jzbccnmqxr9g-2>li:before {
  content: "\0025a0  "
}

.lst-kix_hotb2agacyza-2>li {
  counter-increment: lst-ctn-kix_hotb2agacyza-2
}

ol.lst-kix_nrskjzmyn0c3-8.start {
  counter-reset: lst-ctn-kix_nrskjzmyn0c3-8 0
}

.lst-kix_j1k0lljhcsrq-0>li {
  counter-increment: lst-ctn-kix_j1k0lljhcsrq-0
}

ol.lst-kix_nrskjzmyn0c3-4 {
  list-style-type: none
}

ol.lst-kix_nrskjzmyn0c3-3 {
  list-style-type: none
}

.lst-kix_hotb2agacyza-6>li {
  counter-increment: lst-ctn-kix_hotb2agacyza-6
}

ol.lst-kix_nrskjzmyn0c3-2 {
  list-style-type: none
}

.lst-kix_6jmgdqr3ypdc-8>li:before {
  content: "\0025a0  "
}

ol.lst-kix_nrskjzmyn0c3-1 {
  list-style-type: none
}

ol.lst-kix_nrskjzmyn0c3-0 {
  list-style-type: none
}

.lst-kix_6jmgdqr3ypdc-5>li:before {
  content: "\0025a0  "
}

ol.lst-kix_nrskjzmyn0c3-8 {
  list-style-type: none
}

ol.lst-kix_nrskjzmyn0c3-7 {
  list-style-type: none
}

ol.lst-kix_nrskjzmyn0c3-6 {
  list-style-type: none
}

.lst-kix_j1k0lljhcsrq-4>li {
  counter-increment: lst-ctn-kix_j1k0lljhcsrq-4
}

ol.lst-kix_nrskjzmyn0c3-5 {
  list-style-type: none
}

.lst-kix_hw94s7ukv0yc-4>li {
  counter-increment: lst-ctn-kix_hw94s7ukv0yc-4
}

ul.lst-kix_dp6zoe727dy4-7 {
  list-style-type: none
}

ul.lst-kix_dp6zoe727dy4-6 {
  list-style-type: none
}

ol.lst-kix_hotb2agacyza-6.start {
  counter-reset: lst-ctn-kix_hotb2agacyza-6 0
}

ul.lst-kix_dp6zoe727dy4-5 {
  list-style-type: none
}

ul.lst-kix_dp6zoe727dy4-4 {
  list-style-type: none
}

ul.lst-kix_dp6zoe727dy4-3 {
  list-style-type: none
}

ul.lst-kix_dp6zoe727dy4-2 {
  list-style-type: none
}

ol.lst-kix_j1k0lljhcsrq-6.start {
  counter-reset: lst-ctn-kix_j1k0lljhcsrq-6 0
}

ul.lst-kix_dp6zoe727dy4-1 {
  list-style-type: none
}

ul.lst-kix_dp6zoe727dy4-0 {
  list-style-type: none
}

.lst-kix_mmm2f39t0rso-0>li {
  counter-increment: lst-ctn-kix_mmm2f39t0rso-0
}

.lst-kix_hotb2agacyza-4>li {
  counter-increment: lst-ctn-kix_hotb2agacyza-4
}

.lst-kix_58gejjbvxb0z-5>li:before {
  content: "\0025a0  "
}

.lst-kix_58gejjbvxb0z-4>li:before {
  content: "\0025cb  "
}

.lst-kix_6jmgdqr3ypdc-0>li:before {
  content: "\0025cf  "
}

.lst-kix_6jmgdqr3ypdc-1>li:before {
  content: "\0025cb  "
}

.lst-kix_58gejjbvxb0z-0>li:before {
  content: "\0025cf  "
}

.lst-kix_6jmgdqr3ypdc-4>li:before {
  content: "\0025cb  "
}

.lst-kix_58gejjbvxb0z-1>li:before {
  content: "\0025cb  "
}

.lst-kix_olc50xjq9nog-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_dp6zoe727dy4-8 {
  list-style-type: none
}

.lst-kix_nrskjzmyn0c3-7>li:before {
  content: "" counter(lst-ctn-kix_nrskjzmyn0c3-7, lower-latin) ". "
}

.lst-kix_awk5k2cahn3d-3>li:before {
  content: "\0025cf  "
}

ol.lst-kix_hotb2agacyza-5.start {
  counter-reset: lst-ctn-kix_hotb2agacyza-5 0
}

.lst-kix_olc50xjq9nog-1>li:before {
  content: "\0025cb  "
}

.lst-kix_awk5k2cahn3d-2>li:before {
  content: "\0025a0  "
}

.lst-kix_awk5k2cahn3d-6>li:before {
  content: "\0025cf  "
}

.lst-kix_dp6zoe727dy4-3>li:before {
  content: "\0025cf  "
}

.lst-kix_dp6zoe727dy4-7>li:before {
  content: "\0025cb  "
}

.lst-kix_nrskjzmyn0c3-8>li:before {
  content: "" counter(lst-ctn-kix_nrskjzmyn0c3-8, lower-roman) ". "
}

.lst-kix_awk5k2cahn3d-7>li:before {
  content: "\0025cb  "
}

ol.lst-kix_j1k0lljhcsrq-5.start {
  counter-reset: lst-ctn-kix_j1k0lljhcsrq-5 0
}

.lst-kix_dp6zoe727dy4-2>li:before {
  content: "\0025a0  "
}

.lst-kix_olc50xjq9nog-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_1qee3du20f79-3 {
  list-style-type: none
}

ul.lst-kix_1qee3du20f79-4 {
  list-style-type: none
}

.lst-kix_dtte1pstk98f-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_1qee3du20f79-5 {
  list-style-type: none
}

ul.lst-kix_1qee3du20f79-6 {
  list-style-type: none
}

ul.lst-kix_1qee3du20f79-7 {
  list-style-type: none
}

ul.lst-kix_1qee3du20f79-8 {
  list-style-type: none
}

.lst-kix_j1k0lljhcsrq-2>li {
  counter-increment: lst-ctn-kix_j1k0lljhcsrq-2
}

.lst-kix_58gejjbvxb0z-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_1qee3du20f79-0 {
  list-style-type: none
}

ol.lst-kix_mmm2f39t0rso-3.start {
  counter-reset: lst-ctn-kix_mmm2f39t0rso-3 0
}

ul.lst-kix_1qee3du20f79-1 {
  list-style-type: none
}

ul.lst-kix_1qee3du20f79-2 {
  list-style-type: none
}

.lst-kix_hw94s7ukv0yc-6>li {
  counter-increment: lst-ctn-kix_hw94s7ukv0yc-6
}

.lst-kix_dtte1pstk98f-3>li:before {
  content: "\0025cf  "
}

.lst-kix_nrskjzmyn0c3-2>li {
  counter-increment: lst-ctn-kix_nrskjzmyn0c3-2
}

ol.lst-kix_mmm2f39t0rso-4.start {
  counter-reset: lst-ctn-kix_mmm2f39t0rso-4 0
}

.lst-kix_dtte1pstk98f-7>li:before {
  content: "\0025cb  "
}

.lst-kix_dtte1pstk98f-6>li:before {
  content: "\0025cf  "
}

.lst-kix_dp6zoe727dy4-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_wopve5z0clzp-3 {
  list-style-type: none
}

ul.lst-kix_wopve5z0clzp-2 {
  list-style-type: none
}

ol.lst-kix_j1k0lljhcsrq-7.start {
  counter-reset: lst-ctn-kix_j1k0lljhcsrq-7 0
}

ul.lst-kix_wopve5z0clzp-5 {
  list-style-type: none
}

ul.lst-kix_wopve5z0clzp-4 {
  list-style-type: none
}

ol.lst-kix_mmm2f39t0rso-2.start {
  counter-reset: lst-ctn-kix_mmm2f39t0rso-2 0
}

ul.lst-kix_wopve5z0clzp-1 {
  list-style-type: none
}

.lst-kix_nl1fn8u0qyav-2>li:before {
  content: "\0025a0  "
}

.lst-kix_nl1fn8u0qyav-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_wopve5z0clzp-0 {
  list-style-type: none
}

.lst-kix_i4n2rr5566it-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_wopve5z0clzp-7 {
  list-style-type: none
}

.lst-kix_hftuyph3qfio-0>li:before {
  content: "" counter(lst-ctn-kix_hftuyph3qfio-0, decimal) ". "
}

.lst-kix_hftuyph3qfio-8>li:before {
  content: "" counter(lst-ctn-kix_hftuyph3qfio-8, lower-roman) ". "
}

ul.lst-kix_wopve5z0clzp-6 {
  list-style-type: none
}

ul.lst-kix_wopve5z0clzp-8 {
  list-style-type: none
}

ol.lst-kix_hotb2agacyza-7.start {
  counter-reset: lst-ctn-kix_hotb2agacyza-7 0
}

.lst-kix_hftuyph3qfio-4>li:before {
  content: "" counter(lst-ctn-kix_hftuyph3qfio-4, lower-latin) ". "
}

.lst-kix_nrskjzmyn0c3-0>li {
  counter-increment: lst-ctn-kix_nrskjzmyn0c3-0
}

.lst-kix_ru5rxy2yswmp-3>li:before {
  content: "\0025cf  "
}

.lst-kix_5ypsnktgylmi-8>li:before {
  content: "\0025a0  "
}

.lst-kix_hlx6oix3qbia-5>li:before {
  content: "\0025a0  "
}

.lst-kix_j1k0lljhcsrq-3>li:before {
  content: "" counter(lst-ctn-kix_j1k0lljhcsrq-3, decimal) ". "
}

.lst-kix_j1k0lljhcsrq-7>li:before {
  content: "" counter(lst-ctn-kix_j1k0lljhcsrq-7, lower-latin) ". "
}

.lst-kix_mmm2f39t0rso-1>li:before {
  content: "" counter(lst-ctn-kix_mmm2f39t0rso-1, lower-latin) ". "
}

.lst-kix_ru5rxy2yswmp-7>li:before {
  content: "\0025cb  "
}

.lst-kix_5ypsnktgylmi-4>li:before {
  content: "\0025cb  "
}

.lst-kix_i4n2rr5566it-1>li:before {
  content: "\0025cb  "
}

.lst-kix_5ypsnktgylmi-0>li:before {
  content: "\0025cf  "
}

.lst-kix_hlx6oix3qbia-1>li:before {
  content: "\0025cb  "
}

.lst-kix_x92hgfxg4xiz-4>li:before {
  content: "\0025cb  "
}

.lst-kix_nrskjzmyn0c3-4>li:before {
  content: "" counter(lst-ctn-kix_nrskjzmyn0c3-4, lower-latin) ". "
}

.lst-kix_x92hgfxg4xiz-0>li:before {
  content: "\0025cf  "
}

.lst-kix_x92hgfxg4xiz-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_olc50xjq9nog-7 {
  list-style-type: none
}

.lst-kix_nrskjzmyn0c3-7>li {
  counter-increment: lst-ctn-kix_nrskjzmyn0c3-7
}

ul.lst-kix_olc50xjq9nog-6 {
  list-style-type: none
}

ol.lst-kix_mmm2f39t0rso-0.start {
  counter-reset: lst-ctn-kix_mmm2f39t0rso-0 0
}

ul.lst-kix_olc50xjq9nog-8 {
  list-style-type: none
}

.lst-kix_2g4cm1eyvh08-6>li:before {
  content: "\0025cf  "
}

.lst-kix_olc50xjq9nog-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_olc50xjq9nog-1 {
  list-style-type: none
}

ul.lst-kix_olc50xjq9nog-0 {
  list-style-type: none
}

ul.lst-kix_2g4cm1eyvh08-2 {
  list-style-type: none
}

ul.lst-kix_olc50xjq9nog-3 {
  list-style-type: none
}

ul.lst-kix_2g4cm1eyvh08-1 {
  list-style-type: none
}

ul.lst-kix_olc50xjq9nog-2 {
  list-style-type: none
}

.lst-kix_nrskjzmyn0c3-0>li:before {
  content: "" counter(lst-ctn-kix_nrskjzmyn0c3-0, decimal) ". "
}

ul.lst-kix_2g4cm1eyvh08-0 {
  list-style-type: none
}

ul.lst-kix_olc50xjq9nog-5 {
  list-style-type: none
}

ul.lst-kix_olc50xjq9nog-4 {
  list-style-type: none
}

ul.lst-kix_2g4cm1eyvh08-6 {
  list-style-type: none
}

ul.lst-kix_2g4cm1eyvh08-5 {
  list-style-type: none
}

ul.lst-kix_2g4cm1eyvh08-4 {
  list-style-type: none
}

ul.lst-kix_2g4cm1eyvh08-3 {
  list-style-type: none
}

ul.lst-kix_2g4cm1eyvh08-8 {
  list-style-type: none
}

ul.lst-kix_2g4cm1eyvh08-7 {
  list-style-type: none
}

ol.lst-kix_mmm2f39t0rso-1.start {
  counter-reset: lst-ctn-kix_mmm2f39t0rso-1 0
}

.lst-kix_hw94s7ukv0yc-4>li:before {
  content: "" counter(lst-ctn-kix_hw94s7ukv0yc-4, lower-latin) ". "
}

ol.lst-kix_hotb2agacyza-8.start {
  counter-reset: lst-ctn-kix_hotb2agacyza-8 0
}

.lst-kix_jzbccnmqxr9g-7>li:before {
  content: "\0025cb  "
}

ol.lst-kix_j1k0lljhcsrq-0 {
  list-style-type: none
}

.lst-kix_hw94s7ukv0yc-0>li:before {
  content: "" counter(lst-ctn-kix_hw94s7ukv0yc-0, decimal) ". "
}

ol.lst-kix_j1k0lljhcsrq-1 {
  list-style-type: none
}

ol.lst-kix_j1k0lljhcsrq-4 {
  list-style-type: none
}

ol.lst-kix_j1k0lljhcsrq-5 {
  list-style-type: none
}

ol.lst-kix_j1k0lljhcsrq-2 {
  list-style-type: none
}

ol.lst-kix_j1k0lljhcsrq-3 {
  list-style-type: none
}

ol.lst-kix_j1k0lljhcsrq-8 {
  list-style-type: none
}

ol.lst-kix_j1k0lljhcsrq-6 {
  list-style-type: none
}

ol.lst-kix_j1k0lljhcsrq-7 {
  list-style-type: none
}

ol.lst-kix_j1k0lljhcsrq-8.start {
  counter-reset: lst-ctn-kix_j1k0lljhcsrq-8 0
}

.lst-kix_2g4cm1eyvh08-2>li:before {
  content: "\0025a0  "
}

.lst-kix_jzbccnmqxr9g-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_iz3f4cnene0m-3 {
  list-style-type: none
}

ul.lst-kix_i4n2rr5566it-2 {
  list-style-type: none
}

ul.lst-kix_iz3f4cnene0m-4 {
  list-style-type: none
}

.lst-kix_1qee3du20f79-1>li:before {
  content: "\0025cb  "
}

.lst-kix_1qee3du20f79-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_i4n2rr5566it-1 {
  list-style-type: none
}

ul.lst-kix_iz3f4cnene0m-5 {
  list-style-type: none
}

ul.lst-kix_i4n2rr5566it-0 {
  list-style-type: none
}

ul.lst-kix_iz3f4cnene0m-6 {
  list-style-type: none
}

ul.lst-kix_iz3f4cnene0m-7 {
  list-style-type: none
}

ul.lst-kix_i4n2rr5566it-6 {
  list-style-type: none
}

ul.lst-kix_iz3f4cnene0m-8 {
  list-style-type: none
}

.lst-kix_wopve5z0clzp-0>li:before {
  content: "\0025cf  "
}

.lst-kix_1qee3du20f79-0>li:before {
  content: "\0025cf  "
}

.lst-kix_1qee3du20f79-3>li:before {
  content: "\0025cf  "
}

.lst-kix_1qee3du20f79-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_i4n2rr5566it-5 {
  list-style-type: none
}

ul.lst-kix_i4n2rr5566it-4 {
  list-style-type: none
}

.lst-kix_hw94s7ukv0yc-5>li {
  counter-increment: lst-ctn-kix_hw94s7ukv0yc-5
}

ul.lst-kix_i4n2rr5566it-3 {
  list-style-type: none
}

.lst-kix_wopve5z0clzp-2>li:before {
  content: "\0025a0  "
}

.lst-kix_wopve5z0clzp-3>li:before {
  content: "\0025cf  "
}

.lst-kix_wopve5z0clzp-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_6jmgdqr3ypdc-8 {
  list-style-type: none
}

ul.lst-kix_6jmgdqr3ypdc-7 {
  list-style-type: none
}

ul.lst-kix_6jmgdqr3ypdc-4 {
  list-style-type: none
}

ul.lst-kix_6jmgdqr3ypdc-3 {
  list-style-type: none
}

.lst-kix_hotb2agacyza-7>li {
  counter-increment: lst-ctn-kix_hotb2agacyza-7
}

ul.lst-kix_6jmgdqr3ypdc-6 {
  list-style-type: none
}

ul.lst-kix_6jmgdqr3ypdc-5 {
  list-style-type: none
}

ul.lst-kix_6jmgdqr3ypdc-0 {
  list-style-type: none
}

.lst-kix_j1k0lljhcsrq-5>li {
  counter-increment: lst-ctn-kix_j1k0lljhcsrq-5
}

ul.lst-kix_6jmgdqr3ypdc-2 {
  list-style-type: none
}

ul.lst-kix_6jmgdqr3ypdc-1 {
  list-style-type: none
}

.lst-kix_mmm2f39t0rso-3>li {
  counter-increment: lst-ctn-kix_mmm2f39t0rso-3
}

ol.lst-kix_mmm2f39t0rso-6.start {
  counter-reset: lst-ctn-kix_mmm2f39t0rso-6 0
}

.lst-kix_wopve5z0clzp-6>li:before {
  content: "\0025cf  "
}

.lst-kix_wopve5z0clzp-7>li:before {
  content: "\0025cb  "
}

.lst-kix_wopve5z0clzp-4>li:before {
  content: "\0025cb  "
}

.lst-kix_wopve5z0clzp-8>li:before {
  content: "\0025a0  "
}

ol.lst-kix_hotb2agacyza-3.start {
  counter-reset: lst-ctn-kix_hotb2agacyza-3 0
}

ul.lst-kix_i4n2rr5566it-8 {
  list-style-type: none
}

ul.lst-kix_i4n2rr5566it-7 {
  list-style-type: none
}

.lst-kix_wopve5z0clzp-5>li:before {
  content: "\0025a0  "
}

.lst-kix_hftuyph3qfio-4>li {
  counter-increment: lst-ctn-kix_hftuyph3qfio-4
}

.lst-kix_hotb2agacyza-3>li {
  counter-increment: lst-ctn-kix_hotb2agacyza-3
}

ol.lst-kix_mmm2f39t0rso-1 {
  list-style-type: none
}

ol.lst-kix_mmm2f39t0rso-0 {
  list-style-type: none
}

ol.lst-kix_mmm2f39t0rso-3 {
  list-style-type: none
}

.lst-kix_iz3f4cnene0m-4>li:before {
  content: "\0025cb  "
}

.lst-kix_iz3f4cnene0m-6>li:before {
  content: "\0025cf  "
}

ol.lst-kix_mmm2f39t0rso-2 {
  list-style-type: none
}

.lst-kix_iz3f4cnene0m-1>li:before {
  content: "\0025cb  "
}

.lst-kix_iz3f4cnene0m-5>li:before {
  content: "\0025a0  "
}

ol.lst-kix_mmm2f39t0rso-8 {
  list-style-type: none
}

.lst-kix_iz3f4cnene0m-0>li:before {
  content: "\0025cf  "
}

.lst-kix_iz3f4cnene0m-8>li:before {
  content: "\0025a0  "
}

.lst-kix_j1k0lljhcsrq-1>li {
  counter-increment: lst-ctn-kix_j1k0lljhcsrq-1
}

ol.lst-kix_mmm2f39t0rso-5 {
  list-style-type: none
}

ol.lst-kix_mmm2f39t0rso-4 {
  list-style-type: none
}

ol.lst-kix_mmm2f39t0rso-7 {
  list-style-type: none
}

.lst-kix_iz3f4cnene0m-7>li:before {
  content: "\0025cb  "
}

ol.lst-kix_mmm2f39t0rso-6 {
  list-style-type: none
}

ol.lst-kix_nrskjzmyn0c3-4.start {
  counter-reset: lst-ctn-kix_nrskjzmyn0c3-4 0
}

.lst-kix_iz3f4cnene0m-2>li:before {
  content: "\0025a0  "
}

.lst-kix_iz3f4cnene0m-3>li:before {
  content: "\0025cf  "
}

ol.lst-kix_hw94s7ukv0yc-5.start {
  counter-reset: lst-ctn-kix_hw94s7ukv0yc-5 0
}

ul.lst-kix_5ypsnktgylmi-0 {
  list-style-type: none
}

ul.lst-kix_5ypsnktgylmi-1 {
  list-style-type: none
}

ul.lst-kix_5ypsnktgylmi-2 {
  list-style-type: none
}

ul.lst-kix_5ypsnktgylmi-3 {
  list-style-type: none
}

ul.lst-kix_5ypsnktgylmi-4 {
  list-style-type: none
}

ul.lst-kix_5ypsnktgylmi-5 {
  list-style-type: none
}

ul.lst-kix_5ypsnktgylmi-6 {
  list-style-type: none
}

ul.lst-kix_5ypsnktgylmi-7 {
  list-style-type: none
}

ul.lst-kix_5ypsnktgylmi-8 {
  list-style-type: none
}

ol.lst-kix_hw94s7ukv0yc-0 {
  list-style-type: none
}

ol.lst-kix_hw94s7ukv0yc-2 {
  list-style-type: none
}

ol.lst-kix_hw94s7ukv0yc-1 {
  list-style-type: none
}

ol.lst-kix_hw94s7ukv0yc-4 {
  list-style-type: none
}

ol.lst-kix_hw94s7ukv0yc-3 {
  list-style-type: none
}

.lst-kix_1qee3du20f79-7>li:before {
  content: "\0025cb  "
}

.lst-kix_1qee3du20f79-8>li:before {
  content: "\0025a0  "
}

ol.lst-kix_hw94s7ukv0yc-6 {
  list-style-type: none
}

ol.lst-kix_hw94s7ukv0yc-5 {
  list-style-type: none
}

ol.lst-kix_hw94s7ukv0yc-8 {
  list-style-type: none
}

ol.lst-kix_hw94s7ukv0yc-7 {
  list-style-type: none
}

.lst-kix_1qee3du20f79-5>li:before {
  content: "\0025a0  "
}

.lst-kix_1qee3du20f79-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_iz3f4cnene0m-0 {
  list-style-type: none
}

.lst-kix_nrskjzmyn0c3-5>li {
  counter-increment: lst-ctn-kix_nrskjzmyn0c3-5
}

ul.lst-kix_iz3f4cnene0m-1 {
  list-style-type: none
}

ul.lst-kix_iz3f4cnene0m-2 {
  list-style-type: none
}

.lst-kix_nl1fn8u0qyav-5>li:before {
  content: "\0025a0  "
}

.lst-kix_hftuyph3qfio-5>li:before {
  content: "" counter(lst-ctn-kix_hftuyph3qfio-5, lower-roman) ". "
}

.lst-kix_hftuyph3qfio-3>li:before {
  content: "" counter(lst-ctn-kix_hftuyph3qfio-3, decimal) ". "
}

.lst-kix_hftuyph3qfio-7>li:before {
  content: "" counter(lst-ctn-kix_hftuyph3qfio-7, lower-latin) ". "
}

ul.lst-kix_l5b119pttlwz-1 {
  list-style-type: none
}

.lst-kix_hftuyph3qfio-1>li:before {
  content: "" counter(lst-ctn-kix_hftuyph3qfio-1, lower-latin) ". "
}

ul.lst-kix_l5b119pttlwz-0 {
  list-style-type: none
}

.lst-kix_nl1fn8u0qyav-3>li:before {
  content: "\0025cf  "
}

ol.lst-kix_hftuyph3qfio-3.start {
  counter-reset: lst-ctn-kix_hftuyph3qfio-3 0
}

ol.lst-kix_j1k0lljhcsrq-4.start {
  counter-reset: lst-ctn-kix_j1k0lljhcsrq-4 0
}

.lst-kix_nl1fn8u0qyav-7>li:before {
  content: "\0025cb  "
}

.lst-kix_mmm2f39t0rso-7>li {
  counter-increment: lst-ctn-kix_mmm2f39t0rso-7
}

ol.lst-kix_nrskjzmyn0c3-7.start {
  counter-reset: lst-ctn-kix_nrskjzmyn0c3-7 0
}

.lst-kix_j1k0lljhcsrq-4>li:before {
  content: "" counter(lst-ctn-kix_j1k0lljhcsrq-4, lower-latin) ". "
}

ol.lst-kix_mmm2f39t0rso-8.start {
  counter-reset: lst-ctn-kix_mmm2f39t0rso-8 0
}

.lst-kix_5ypsnktgylmi-7>li:before {
  content: "\0025cb  "
}

.lst-kix_j1k0lljhcsrq-8>li:before {
  content: "" counter(lst-ctn-kix_j1k0lljhcsrq-8, lower-roman) ". "
}

.lst-kix_j1k0lljhcsrq-0>li:before {
  content: "" counter(lst-ctn-kix_j1k0lljhcsrq-0, decimal) ". "
}

.lst-kix_j1k0lljhcsrq-2>li:before {
  content: "" counter(lst-ctn-kix_j1k0lljhcsrq-2, lower-roman) ". "
}

.lst-kix_mmm2f39t0rso-6>li {
  counter-increment: lst-ctn-kix_mmm2f39t0rso-6
}

.lst-kix_5ypsnktgylmi-5>li:before {
  content: "\0025a0  "
}

.lst-kix_hftuyph3qfio-7>li {
  counter-increment: lst-ctn-kix_hftuyph3qfio-7
}

ol.lst-kix_hotb2agacyza-1 {
  list-style-type: none
}

ol.lst-kix_hotb2agacyza-0 {
  list-style-type: none
}

ol.lst-kix_hotb2agacyza-3 {
  list-style-type: none
}

.lst-kix_5ypsnktgylmi-3>li:before {
  content: "\0025cf  "
}

ol.lst-kix_hotb2agacyza-2 {
  list-style-type: none
}

ol.lst-kix_hotb2agacyza-5 {
  list-style-type: none
}

ol.lst-kix_hotb2agacyza-4 {
  list-style-type: none
}

ol.lst-kix_hotb2agacyza-7 {
  list-style-type: none
}

ol.lst-kix_hotb2agacyza-6 {
  list-style-type: none
}

.lst-kix_j1k0lljhcsrq-6>li:before {
  content: "" counter(lst-ctn-kix_j1k0lljhcsrq-6, decimal) ". "
}

ol.lst-kix_hotb2agacyza-8 {
  list-style-type: none
}

.lst-kix_5ypsnktgylmi-1>li:before {
  content: "\0025cb  "
}

.lst-kix_hw94s7ukv0yc-2>li {
  counter-increment: lst-ctn-kix_hw94s7ukv0yc-2
}

.lst-kix_hw94s7ukv0yc-8>li {
  counter-increment: lst-ctn-kix_hw94s7ukv0yc-8
}

.lst-kix_olc50xjq9nog-5>li:before {
  content: "\0025a0  "
}

ol.lst-kix_hftuyph3qfio-1.start {
  counter-reset: lst-ctn-kix_hftuyph3qfio-1 0
}

.lst-kix_olc50xjq9nog-7>li:before {
  content: "\0025cb  "
}

ol.lst-kix_j1k0lljhcsrq-2.start {
  counter-reset: lst-ctn-kix_j1k0lljhcsrq-2 0
}

.lst-kix_hw94s7ukv0yc-1>li {
  counter-increment: lst-ctn-kix_hw94s7ukv0yc-1
}

.lst-kix_hftuyph3qfio-0>li {
  counter-increment: lst-ctn-kix_hftuyph3qfio-0
}

ul.lst-kix_l5b119pttlwz-8 {
  list-style-type: none
}

ul.lst-kix_l5b119pttlwz-7 {
  list-style-type: none
}

ul.lst-kix_l5b119pttlwz-6 {
  list-style-type: none
}

ul.lst-kix_l5b119pttlwz-5 {
  list-style-type: none
}

ul.lst-kix_l5b119pttlwz-4 {
  list-style-type: none
}

ol.lst-kix_hw94s7ukv0yc-8.start {
  counter-reset: lst-ctn-kix_hw94s7ukv0yc-8 0
}

ul.lst-kix_l5b119pttlwz-3 {
  list-style-type: none
}

ul.lst-kix_l5b119pttlwz-2 {
  list-style-type: none
}

ol.lst-kix_hotb2agacyza-1.start {
  counter-reset: lst-ctn-kix_hotb2agacyza-1 0
}

ul.lst-kix_hlx6oix3qbia-3 {
  list-style-type: none
}

ul.lst-kix_hlx6oix3qbia-4 {
  list-style-type: none
}

ul.lst-kix_hlx6oix3qbia-1 {
  list-style-type: none
}

ol.lst-kix_hotb2agacyza-0.start {
  counter-reset: lst-ctn-kix_hotb2agacyza-0 0
}

ul.lst-kix_hlx6oix3qbia-2 {
  list-style-type: none
}

ul.lst-kix_hlx6oix3qbia-7 {
  list-style-type: none
}

ul.lst-kix_hlx6oix3qbia-8 {
  list-style-type: none
}

ol.lst-kix_j1k0lljhcsrq-0.start {
  counter-reset: lst-ctn-kix_j1k0lljhcsrq-0 0
}

ol.lst-kix_nrskjzmyn0c3-6.start {
  counter-reset: lst-ctn-kix_nrskjzmyn0c3-6 0
}

ul.lst-kix_hlx6oix3qbia-5 {
  list-style-type: none
}

ul.lst-kix_hlx6oix3qbia-6 {
  list-style-type: none
}

.lst-kix_nrskjzmyn0c3-4>li {
  counter-increment: lst-ctn-kix_nrskjzmyn0c3-4
}

ol.lst-kix_hw94s7ukv0yc-1.start {
  counter-reset: lst-ctn-kix_hw94s7ukv0yc-1 0
}

.lst-kix_6jmgdqr3ypdc-6>li:before {
  content: "\0025cf  "
}

.lst-kix_6jmgdqr3ypdc-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_awk5k2cahn3d-0 {
  list-style-type: none
}

ul.lst-kix_awk5k2cahn3d-3 {
  list-style-type: none
}

ul.lst-kix_awk5k2cahn3d-4 {
  list-style-type: none
}

ul.lst-kix_awk5k2cahn3d-1 {
  list-style-type: none
}

ul.lst-kix_awk5k2cahn3d-2 {
  list-style-type: none
}

ol.lst-kix_hw94s7ukv0yc-7.start {
  counter-reset: lst-ctn-kix_hw94s7ukv0yc-7 0
}

ol.lst-kix_nrskjzmyn0c3-0.start {
  counter-reset: lst-ctn-kix_nrskjzmyn0c3-0 0
}

.lst-kix_nrskjzmyn0c3-6>li {
  counter-increment: lst-ctn-kix_nrskjzmyn0c3-6
}

ul.lst-kix_awk5k2cahn3d-7 {
  list-style-type: none
}

.lst-kix_58gejjbvxb0z-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_awk5k2cahn3d-8 {
  list-style-type: none
}

ul.lst-kix_awk5k2cahn3d-5 {
  list-style-type: none
}

ol.lst-kix_hftuyph3qfio-5.start {
  counter-reset: lst-ctn-kix_hftuyph3qfio-5 0
}

ul.lst-kix_awk5k2cahn3d-6 {
  list-style-type: none
}

.lst-kix_58gejjbvxb0z-3>li:before {
  content: "\0025cf  "
}

.lst-kix_58gejjbvxb0z-2>li:before {
  content: "\0025a0  "
}

.lst-kix_6jmgdqr3ypdc-2>li:before {
  content: "\0025a0  "
}

.lst-kix_hftuyph3qfio-1>li {
  counter-increment: lst-ctn-kix_hftuyph3qfio-1
}

ul.lst-kix_hlx6oix3qbia-0 {
  list-style-type: none
}

.lst-kix_6jmgdqr3ypdc-3>li:before {
  content: "\0025cf  "
}

.lst-kix_dp6zoe727dy4-4>li:before {
  content: "\0025cb  "
}

.lst-kix_olc50xjq9nog-3>li:before {
  content: "\0025cf  "
}

.lst-kix_awk5k2cahn3d-4>li:before {
  content: "\0025cb  "
}

.lst-kix_hftuyph3qfio-5>li {
  counter-increment: lst-ctn-kix_hftuyph3qfio-5
}

.lst-kix_awk5k2cahn3d-1>li:before {
  content: "\0025cb  "
}

.lst-kix_awk5k2cahn3d-5>li:before {
  content: "\0025a0  "
}

ol.lst-kix_hw94s7ukv0yc-6.start {
  counter-reset: lst-ctn-kix_hw94s7ukv0yc-6 0
}

.lst-kix_olc50xjq9nog-2>li:before {
  content: "\0025a0  "
}

.lst-kix_dp6zoe727dy4-0>li:before {
  content: "\0025cf  "
}

.lst-kix_dp6zoe727dy4-8>li:before {
  content: "\0025a0  "
}

.lst-kix_awk5k2cahn3d-0>li:before {
  content: "\0025cf  "
}

.lst-kix_awk5k2cahn3d-8>li:before {
  content: "\0025a0  "
}

.lst-kix_dp6zoe727dy4-1>li:before {
  content: "\0025cb  "
}

.lst-kix_dtte1pstk98f-1>li:before {
  content: "\0025cb  "
}

.lst-kix_58gejjbvxb0z-7>li:before {
  content: "\0025cb  "
}

.lst-kix_dtte1pstk98f-0>li:before {
  content: "\0025cf  "
}

.lst-kix_j1k0lljhcsrq-8>li {
  counter-increment: lst-ctn-kix_j1k0lljhcsrq-8
}

ol.lst-kix_nrskjzmyn0c3-5.start {
  counter-reset: lst-ctn-kix_nrskjzmyn0c3-5 0
}

.lst-kix_nrskjzmyn0c3-8>li {
  counter-increment: lst-ctn-kix_nrskjzmyn0c3-8
}

ol.lst-kix_hftuyph3qfio-4.start {
  counter-reset: lst-ctn-kix_hftuyph3qfio-4 0
}

.lst-kix_dtte1pstk98f-4>li:before {
  content: "\0025cb  "
}

.lst-kix_dtte1pstk98f-5>li:before {
  content: "\0025a0  "
}

.lst-kix_nl1fn8u0qyav-1>li:before {
  content: "\0025cb  "
}

.lst-kix_dtte1pstk98f-8>li:before {
  content: "\0025a0  "
}

.lst-kix_dp6zoe727dy4-5>li:before {
  content: "\0025a0  "
}

.lst-kix_nl1fn8u0qyav-0>li:before {
  content: "\0025cf  "
}

.lst-kix_mmm2f39t0rso-2>li {
  counter-increment: lst-ctn-kix_mmm2f39t0rso-2
}

.lst-kix_hftuyph3qfio-6>li:before {
  content: "" counter(lst-ctn-kix_hftuyph3qfio-6, decimal) ". "
}

.lst-kix_hotb2agacyza-0>li {
  counter-increment: lst-ctn-kix_hotb2agacyza-0
}

ol.lst-kix_hftuyph3qfio-6.start {
  counter-reset: lst-ctn-kix_hftuyph3qfio-6 0
}

.lst-kix_hftuyph3qfio-2>li:before {
  content: "" counter(lst-ctn-kix_hftuyph3qfio-2, lower-roman) ". "
}

.lst-kix_i4n2rr5566it-3>li:before {
  content: "\0025cf  "
}

.lst-kix_nl1fn8u0qyav-4>li:before {
  content: "\0025cb  "
}

.lst-kix_hftuyph3qfio-8>li {
  counter-increment: lst-ctn-kix_hftuyph3qfio-8
}

ul.lst-kix_x92hgfxg4xiz-5 {
  list-style-type: none
}

ul.lst-kix_x92hgfxg4xiz-6 {
  list-style-type: none
}

ul.lst-kix_x92hgfxg4xiz-3 {
  list-style-type: none
}

ul.lst-kix_x92hgfxg4xiz-4 {
  list-style-type: none
}

ul.lst-kix_x92hgfxg4xiz-1 {
  list-style-type: none
}

.lst-kix_i4n2rr5566it-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_x92hgfxg4xiz-2 {
  list-style-type: none
}

.lst-kix_nl1fn8u0qyav-8>li:before {
  content: "\0025a0  "
}

.lst-kix_mmm2f39t0rso-3>li:before {
  content: "" counter(lst-ctn-kix_mmm2f39t0rso-3, decimal) ". "
}

ul.lst-kix_x92hgfxg4xiz-0 {
  list-style-type: none
}

.lst-kix_hlx6oix3qbia-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_jzbccnmqxr9g-8 {
  list-style-type: none
}

.lst-kix_j1k0lljhcsrq-5>li:before {
  content: "" counter(lst-ctn-kix_j1k0lljhcsrq-5, lower-roman) ". "
}

ul.lst-kix_jzbccnmqxr9g-7 {
  list-style-type: none
}

ul.lst-kix_jzbccnmqxr9g-6 {
  list-style-type: none
}

ul.lst-kix_jzbccnmqxr9g-5 {
  list-style-type: none
}

ul.lst-kix_jzbccnmqxr9g-4 {
  list-style-type: none
}

ul.lst-kix_jzbccnmqxr9g-3 {
  list-style-type: none
}

ul.lst-kix_x92hgfxg4xiz-7 {
  list-style-type: none
}

ul.lst-kix_jzbccnmqxr9g-2 {
  list-style-type: none
}

ul.lst-kix_x92hgfxg4xiz-8 {
  list-style-type: none
}

ul.lst-kix_jzbccnmqxr9g-1 {
  list-style-type: none
}

ul.lst-kix_jzbccnmqxr9g-0 {
  list-style-type: none
}

.lst-kix_j1k0lljhcsrq-1>li:before {
  content: "" counter(lst-ctn-kix_j1k0lljhcsrq-1, lower-latin) ". "
}

.lst-kix_5ypsnktgylmi-6>li:before {
  content: "\0025cf  "
}

.lst-kix_ru5rxy2yswmp-5>li:before {
  content: "\0025a0  "
}

ol.lst-kix_hw94s7ukv0yc-0.start {
  counter-reset: lst-ctn-kix_hw94s7ukv0yc-0 0
}

.lst-kix_5ypsnktgylmi-2>li:before {
  content: "\0025a0  "
}

ol.lst-kix_hw94s7ukv0yc-3.start {
  counter-reset: lst-ctn-kix_hw94s7ukv0yc-3 0
}

.lst-kix_hlx6oix3qbia-3>li:before {
  content: "\0025cf  "
}

.lst-kix_nrskjzmyn0c3-6>li:before {
  content: "" counter(lst-ctn-kix_nrskjzmyn0c3-6, decimal) ". "
}

ol.lst-kix_nrskjzmyn0c3-1.start {
  counter-reset: lst-ctn-kix_nrskjzmyn0c3-1 0
}

.lst-kix_x92hgfxg4xiz-2>li:before {
  content: "\0025a0  "
}

.lst-kix_x92hgfxg4xiz-6>li:before {
  content: "\0025cf  "
}

.lst-kix_2g4cm1eyvh08-8>li:before {
  content: "\0025a0  "
}

.lst-kix_jzbccnmqxr9g-1>li:before {
  content: "\0025cb  "
}

.lst-kix_olc50xjq9nog-6>li:before {
  content: "\0025cf  "
}

ol.lst-kix_hftuyph3qfio-8.start {
  counter-reset: lst-ctn-kix_hftuyph3qfio-8 0
}

.lst-kix_nrskjzmyn0c3-1>li {
  counter-increment: lst-ctn-kix_nrskjzmyn0c3-1
}

.lst-kix_nrskjzmyn0c3-2>li:before {
  content: "" counter(lst-ctn-kix_nrskjzmyn0c3-2, lower-roman) ". "
}

ol.lst-kix_hw94s7ukv0yc-2.start {
  counter-reset: lst-ctn-kix_hw94s7ukv0yc-2 0
}

.lst-kix_mmm2f39t0rso-4>li {
  counter-increment: lst-ctn-kix_mmm2f39t0rso-4
}

.lst-kix_ru5rxy2yswmp-1>li:before {
  content: "\0025cb  "
}

ol.lst-kix_hftuyph3qfio-7.start {
  counter-reset: lst-ctn-kix_hftuyph3qfio-7 0
}

.lst-kix_j1k0lljhcsrq-3>li {
  counter-increment: lst-ctn-kix_j1k0lljhcsrq-3
}

.lst-kix_hw94s7ukv0yc-6>li:before {
  content: "" counter(lst-ctn-kix_hw94s7ukv0yc-6, decimal) ". "
}

ol.lst-kix_nrskjzmyn0c3-2.start {
  counter-reset: lst-ctn-kix_nrskjzmyn0c3-2 0
}

.lst-kix_hftuyph3qfio-3>li {
  counter-increment: lst-ctn-kix_hftuyph3qfio-3
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

.lst-kix_hw94s7ukv0yc-2>li:before {
  content: "" counter(lst-ctn-kix_hw94s7ukv0yc-2, lower-roman) ". "
}

.lst-kix_2g4cm1eyvh08-0>li:before {
  content: "\0025cf  "
}

.lst-kix_2g4cm1eyvh08-4>li:before {
  content: "\0025cb  "
}

.lst-kix_jzbccnmqxr9g-5>li:before {
  content: "\0025a0  "
}

.lst-kix_hotb2agacyza-5>li {
  counter-increment: lst-ctn-kix_hotb2agacyza-5
}

ol {
  margin: 0;
  padding: 0
}

table {
  border-collapse: unset !important;
}
table td,
table th {
  padding: 0
}

tbody {
    background-color: #565656 !important;
}

.c16 {
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: left;
  padding-right: 0pt
}

.c63 {
  padding: 8pt 8pt 8pt 8pt;
  vertical-align: top;
  width: 76.5pt;
}

.c46 {
  padding: 8pt 8pt 8pt 8pt;
  vertical-align: top;
  width: 402pt;
}

.c71 {
  padding: 8pt 8pt 8pt 8pt;
  vertical-align: top;
  width: 399pt;
}

.c69 {
  padding: 8pt 8pt 8pt 8pt;
  vertical-align: top;
  width: 93.8pt;
}

.c73 {
  padding: 8pt 8pt 8pt 8pt;
  vertical-align: top;
  width: 402pt;
}

.c64 {
  padding: 8pt 8pt 8pt 8pt;
  vertical-align: top;
  width: 93.8pt;
}

.c80 {
  padding: 8pt 8pt 8pt 8pt;
  vertical-align: top;
  width: 461.2pt;
}

.c59 {
  padding: 8pt 8pt 8pt 8pt;
  vertical-align: top;
  width: 399pt;
}

.c43 {
  padding: 8pt 8pt 8pt 8pt;
  vertical-align: top;
  width: 461.2pt;
}

.c74 {
  padding: 8pt 8pt 8pt 8pt;
  vertical-align: top;
  width: 81.8pt;
}

.c61 {
  padding: 8pt 8pt 8pt 8pt;
  vertical-align: top;
  width: 76.5pt;
}

.c11 {
  padding: 8pt 8pt 8pt 8pt;
  vertical-align: top;
  width: 81.8pt;
}

.c36 {
  padding: 5pt 5pt 5pt 5pt;
  vertical-align: top;
  width: 32.2pt;
}

.c40 {
  padding: 5pt 5pt 5pt 5pt;
  vertical-align: top;
  width: 58.5pt;
}

.c50 {
  padding: 5pt 5pt 5pt 5pt;
  vertical-align: top;
  width: 39.8pt;
}

.c29 {
  padding: 5pt 5pt 5pt 5pt;
  vertical-align: top;
  width: 59.2pt;
}

.c32 {
  padding: 5pt 5pt 5pt 5pt;
  vertical-align: top;
  width: 51pt;
}

.c65 {
  padding: 5pt 5pt 5pt 5pt;
  vertical-align: top;
  width: 53.2pt;
}

.c13 {
  padding: 5pt 5pt 5pt 5pt;
  vertical-align: top;
  width: 291pt;
}

.c81 {
  padding-left: 0pt;
  text-indent: 35.2pt;
  padding-right: 0pt
}

.c9 {
  padding: 5pt 5pt 5pt 5pt;
  vertical-align: top;
  width: 35.2pt;
}

.c26 {
  padding: 5pt 5pt 5pt 5pt;
  vertical-align: top;
  width: 156pt;
}

.c45 {
  padding: 5pt 5pt 5pt 5pt;
  vertical-align: top;
  width: 61.5pt;
}

.c28 {
  padding: 5pt 5pt 5pt 5pt;
  vertical-align: top;
  width: 175.5pt;
}

.c83 {
  padding: 5pt 5pt 5pt 5pt;
  vertical-align: top;
  width: 468pt;
}

.c49 {
  padding: 5pt 5pt 5pt 5pt;
  vertical-align: top;
  width: 72.8pt;
}

.c84 {
  padding-left: 0pt;
  padding-right: 0pt
}

.c1 {
  margin-left: 0pt;
  padding-top: 0pt;
  list-style-position: inside;
  text-indent: 35.4pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c6 {
  margin-left: 0pt;
  padding-top: 0pt;
  list-style-position: inside;
  text-indent: 35.4pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c4 {
  margin-left: 0pt;
  padding-top: 0pt;
  list-style-position: inside;
  text-indent: 36pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c15 {
  margin-left: 0pt;
  padding-top: 0pt;
  list-style-position: inside;
  text-indent: 35.2pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: justify
}

.c20 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal
}

.c0 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Arial";
  font-style: normal
}

.c5 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Arial";
  font-style: normal
}

.c27 {
  margin-left: 72pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: left
}

.c24 {
  margin-left: 0pt;
  padding-top: 0pt;
  list-style-position: inside;
  text-indent: 35.4pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: left
}

.c12 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Arial";
  font-style: normal
}

.c18 {
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Arial";
  font-style: normal
}

.c3 {
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal
}

.c75 {
  margin-left: 0pt;
  padding-top: 0pt;
  list-style-position: inside;
  padding-bottom: 0pt;
  line-height: 2.0;
  text-align: left
}

.c22 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: justify
}

.c23 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: left
}

.c53 {
  margin-left: 0pt;
  padding-top: 0pt;
  list-style-position: inside;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: justify
}

.c52 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Arial";
  font-style: italic
}

.c30 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: left
}

.c47 {
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal
}

.c25 {
  padding-top: 0pt;
  text-indent: 36pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: justify
}

.c14 {
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal
}

.c34 {
  padding-top: 0pt;
  text-indent: 35.4pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: justify
}

.c62 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: left
}

.c79 {
  padding-top: 0pt;
  line-height: 1.5;
  text-align: left
}

.c8 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c41 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: justify
}

.c37 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: left
}

.c70 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 2.0;
  text-align: center
}

.c21 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: center
}

.c51 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: center
}

.c31 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: justify
}

.c87 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: justify
}

.c76 {
  margin-right: auto
}

.c60 {
  margin-left: 35.4pt;
  list-style-position: inside
}

.c10 {
  orphans: 2;
  widows: 2
}

.c42 {
  padding: 0;
  margin: 0
}

.c82 {
  font-weight: 700;
  font-size: 12pt
}

.c7 {
  font-size: 14pt;
  font-weight: 700
}

.c57 {
  font-weight: 700;
  font-size: 15pt
}

.c86 {
  max-width: 468pt;
  padding: 72pt 70.8pt 72pt 56.7pt
}

.c35 {
  font-weight: 400;
  font-size: 12pt
}

.c55 {
  font-weight: 700;
  font-size: 11pt
}

.c66 {
  font-weight: 700;
  font-size: 16pt
}

.c2 {
  height: 28.5pt
}

.c33 {
  height: 29.2pt
}

.c44 {
  margin-left: 36pt
}

.c54 {
  text-indent: 36pt
}

.c19 {
  height: 11pt
}

.c17 {
  height: 0pt
}

.c72 {
  margin-right: 7.4pt
}

.c78 {
  height: 42.8pt
}

.c48 {
  height: 5.4pt
}

.c67 {
  height: 24pt
}

.c38 {
  text-indent: 35.4pt
}

.c56 {
  font-size: 14pt
}

.c68 {
  height: 31.5pt
}

.c85 {
  height: 49.8pt
}

.c58 {
  height: 1pt
}

.title {
  padding-top: 0pt;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}}
